{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="post">
        <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="text-right"><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</p>
        <p>{{ post.text|linebreaks|truncatewords:50 }}</p> 
        <p class="text-right">
        <a href="{% url 'blog.views.post_detail' pk=post.pk %}"><span class="label label-info">ReadMore...</span></a>
        <a href="{% url 'search_tag' tag=post.tag %}"><span class="glyphicon glyphicon-tags"></span> {{ post.tag }}</a>
        </p>
        <hr>
   </div>
{% endfor %}
{% if page %}

    <div class="pagination">
        <!--<span class="step-link">-->
            {% if posts.has_previous %}
                
                <li><a href="?page={{ posts.previous_page_number }}">previous</a></li>
                   
            {% endif %}               
            <!--<span class="current">
                
                <li>{{ posts.number }} of {{ posts.paginator.num_pages }}</li>
                   
                </span>-->
            {% if posts.has_next %}
                
                <li><a href="?page={{ posts.next_page_number }}">next</a></li>
                    
            {% endif %}
        <!--</span>-->
    </div>
    {% endif %}
{% endblock %}
